<header>
  <div class="bordesito">
    <!-- AQUI IRA EL NOMBRE DE LA FARMACIA -->
    <div class="titulo">
      <h1>VIDA PHARMA</h1>
      <p>BOTICAS T&M</p>
    </div>
    <div class="himagen">
      <img src="https://images.vexels.com/media/users/3/127693/isolated/preview/42307f62c778eb0f1931cb71256c9a1f-flat-pharmecy-icon.png" alt="">
    </div>
  </div>
  <div class="inventario">
    <h1>VENTAS</h1>
  </div>
</header>
<section class="section1">
  <div class="barrita">
    <button class="imagen1"></button>
    <span>Registrar usuario nuevo</span>
    <button class="imagen2"></button>
    <span>Generar Rotacion</span>
    <button class="imagen3"></button>
    <span>Generar venta</span>
  </div>
  <div class="nametec">
    <img class="imagen4" src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"  alt="">
    <p class="nametecnico">NOMBRE DEL TECNICO</p>
  </div>
</section>
<section class="section5">
  <button>Adicionar Producto</button>
  <button>INGRESAR AQUI RECETA MEDICA</button>
</section>
<footer>
  <button>
    CANCELAR
  </button>
  <button>
    CONFIRMAR
  </button>
</footer>
