<header>
  <div class="bordesito">
    <!-- AQUI IRA EL NOMBRE DE LA FARMACIA -->
    <div class="titulo">
      <h1>VIDA PHARMA</h1>
      <p>BOTICAS T&M</p>
    </div>
    <div class="himagen">
      <img src="https://images.vexels.com/media/users/3/127693/isolated/preview/42307f62c778eb0f1931cb71256c9a1f-flat-pharmecy-icon.png" alt="">
    </div>
  </div>
  <div class="inventario">
    <h1>AGREGAR EMPLEADO</h1>
  </div>
</header>
<!-- COMENTAMOS ESTO PARA QUE NO MOLESTE Y PODAMOS REALIZAR LOS INPUTS  -->
<!-- <section class="section1">
    <div class="barrita">
        <button class="imagen1"></button>
        <span>Registrar usuario nuevo</span>
        <button class="imagen2"></button>
        <span>Generar Rotacion</span>
        <button class="imagen3"></button>
        <span>Generar venta</span>
    </div>
    <div class="nametec">
        <img class="imagen4" src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"  alt="">
        <p class="nametecnico">NOMBRE DEL TECNICO</p>
    </div>
</section> -->
<section>
  <div>
    <input id="nombre" type="text" placeholder="Nombres" name="nombre" [(ngModel)]="nombre">
    <input id="apellido" type="text" placeholder="Apellidos" name="apellido" [(ngModel)]="apellido">
    <input id="correo" type="text" placeholder="Correo" name="correo" [(ngModel)]="correo">
    <input id="numero_doc" type="number" placeholder="DNI" name="numero_doc" [(ngModel)]="numero_doc">
    <input id="contrasena" type="password" placeholder="Contrasena" name="contrasena" [(ngModel)]="contrasena">
    <input type="password" placeholder="Confirmar Contrasena">
    <button (click)="registrar()">REGISTRAR</button>
    <p>{{mensaje}}</p>
  </div>
</section>
<footer>
  <p>@Copyrigth 2022 | Inversión corporativa  T&M S.R.L</p>
</footer>
