body{
  margin: 0%;
}
header{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(207.8deg, #44f110 4.69%, #60aab7 100%);
  margin: 0%;
}
header .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
}
.bordesito{

  border: 3.5px solid #000000;
  border-radius: 10px;
  display: flex;

}
.inventario h1{
  margin-right: 30px;
}
.himagen img{
  width: 100px;
  height: 80px;
}
header .titulo h1{
  margin: 0%;
  padding-left: 5px;
}
header .titulo p{
  margin: 0%;
  padding-top: 5px;
}
section{
  display: flex;
  justify-content: space-around;
}
.barrita{
  display: flex;
  align-items: center;
}
.imagen1{
  background-image: url('https://cdn-icons-png.flaticon.com/512/1077/1077114.png');
  background-repeat:no-repeat ;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  background-color: white;
  cursor: pointer;
}
.imagen2{
  background-image: url('https://t4.ftcdn.net/jpg/01/63/44/43/240_F_163444357_JEgZDs2wRl8e2rPoAWXSrcwfvZaGzys8.jpg');
  background-repeat:no-repeat ;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}
.imagen3{
  background-image: url('https://cdn-icons-png.flaticon.com/128/74/74742.png');
  background-repeat:no-repeat ;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  background-color: white;
  cursor: pointer;
}
.imagen4{
  padding-top:15px ;
  padding-right:  10px; ;
  width: 18px;
  height: 18px;
}
/* AQUI EMPEZAMOS CON EL SECTION */
.section1{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(207.8deg, #8672ee 4.69%, #3df38f 100%);
}
.nametec{
  display: flex;
}
.nametecnico{
  margin-right: 50px;
}
.section5{
  display: flex;
  justify-content: end;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 70vh;
}
button{
  height: 50px;
  width: 140px;
  background-color: yellow;
  border-color: white;
  border: 1px solid #c6c6c6;
  box-shadow: 3px 6px 6px rgb(7, 7, 7);
  cursor: pointer;
}
footer{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(207.8deg, #89ec79 4.69%, #abd7e9 100%);
  width: 100%;
  height: 86px;
  align-items: center;
}
